created a new collection.

<% if activity.trackable %>
  <div class="activitycentered">
	  <%= link_to image_tag(activity.trackable.cover(:thumb), size: "200x200"), activity.trackable.user %><br>
	  <%= link_to activity.trackable.title, activity.trackable.user %>
	</div>
<% else %>
  
<% end %>